<div class="dialog-container">
  @if(loading) {
    <mat-progress-bar class="progress-bar" mode="indeterminate"></mat-progress-bar>
  }
  
  <h2 mat-dialog-title>Edit address</h2>
  <mat-dialog-content class="input-fields">
    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Street + House No.</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Address">
      </mat-form-field>
    </div>

    <div class="name-fields">
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Zip code</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="Zip code">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="City">
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button [disabled]="loading" mat-button (click)="onNoClick()">Cancel</button>
    <button [disabled]="loading" mat-button (click)="saveUser()" [mat-dialog-close]="" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</div>
