<mat-card>
    <mat-card-content>
        <table>
            <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>City</th>
            </tr>
            <tr>
                <td>a</td>
                <td>d</td>
                <td>g</td>
            </tr>
            <tr>
                <td>a</td>
                <td>d</td>
                <td>g</td>
            </tr>
        </table>
    </mat-card-content>
  
</mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" aria-label="Add user" matTooltip="Add user">
    <mat-icon>add</mat-icon>
</button>